.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
}
.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.search-box {
  border-bottom: 1px solid;
  padding: 5px;
  position: absolute;
  right: 20px;
}
.search-box input {
  border: none;
}

.product-card {
  overflow: hidden;
}

.product-card:hover img{
  transform: scale(1.4);
}

.product-img {
  display: flex;
  justify-content: flex-end;
}

.product-detail {
  padding: 10px;
}

.dropDown{
  width: 100px;
}